<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
  <meta name="description" content="{{ .Site.Params.description }}" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" />
  <script src="https://kit.fontawesome.com/d1186bca51.js" crossorigin="anonymous"></script>
</head>
<body class="section-{{ .Section | default "home" }}">
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "footer.html" . }}
  {{ partial "navbar.html" . }}
  {{ partial "search.html" . }}
  <script src="/js/main.js"></script>
  {{ block "extra-js" . }}{{ end }}
</body>
</html>
